@font-face {
    font-family: 'Blackhawk';
    src: url('fonts/Blackhawk.otf');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333840;
    text-align: left;
    background-color: #fff;
}
main {
    display: block;
}

/* Navbar - Lilii */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
    padding: 0 80px;
    z-index: 100;
}

.navbar img {
    max-height: 100%;
    margin-right: 100px;
}

.navbar a {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
}

.navbar a:hover {
    color: #ababab;
}

.navbar i {
    font-size: 13px;
    color: #ffffff;
    padding-bottom: 5px;
}

.navbar a:hover i.fa-chevron-down {
    color: #ababab;
}

.navbar_left {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.navbar_right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-left: 15px;
    flex-wrap: wrap;
}

.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_menu {
    display: flex;
    flex-wrap: wrap;
}

/* Banner - Kevin */

.pageIntro {
    background-color: black;
    display: flex;
    height: 70vh;
    justify-content: space-between;
}

.pageIntro_content {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 44rem;
    padding: 3.125rem 0.75rem;
    left: 80px;
}

.pageIntro_title {
    display: flex;
    font-family: 'Blackhawk', sans-serif;
    font-size: 120px;
    width: 904px;
    height: 230px;
    margin-bottom: 120px;
    text-align: left;
    color: #fff;
}

.pageIntro_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    align-content: space-evenly;
    width: 550px;
    color: #fff;
}
.pageIntro a {
    display: flex;
    cursor: pointer;
}

.pageIntro a > .pageIntro_button {
    transform: translateX(0%) translateY(0%);
    transition: 0.3s ease-in-out;
}

.pageIntro a:hover > #pageIntro_btn1 {
    transform: translateX(-5%) translateY(-24%);
    transition: 0.3s ease-in-out;
}

.pageIntro a:hover > #pageIntro_btn2 {
    transform: translateX(-2%) translateY(-12%);
    transition: 0.3s ease-in-out;
}

.pageIntro_button {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 286px;
    height: 66px;
    flex-shrink: 0;
}
.herobutton{
    margin-top: 80px;
}
#pageIntro_btn1 {
    color: black;
    background: white;
    z-index: 3;
}
#pageIntro_btn2 {
    background: black;
    border: white 2px solid;
    z-index:2;
}


.pageIntro_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pageIntro_image #pageIntro_logo {
    position: absolute;
    z-index: 2;
}

.pageIntro_image #pageIntro_background {
    position: relative;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Akadeemia container - Gervin */
.akadeemiacontainer{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 576px) {
    .akadeemiacontainer {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .akadeemiacontainer {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .akadeemiacontainer {
        max-width:960px
    }
}

@media (min-width: 1260px) {
    .akadeemiacontainer {
        max-width:1200px
    }
}


.akadeemiaeosa1{
    padding-top: 4rem;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%
}


.akadeemiatekst{
    width: 50%;
    text-align: left;
}

.akadeemiatekst h2{
    font-size: 3rem;
    color: black;
    margin: 0 0 3.5rem;
}

.akadeemiatekst p{
    line-height: 172%;
    color: #000000;
}

.akadeemialogo{
    width: 50%;
    text-align: end;
}


/* Media päring 768px laiustele ja väiksematele ekraanidele */
@media (max-width: 1000px) {
    .akadeemiaeosa1 {
        flex-direction: column; /* Muudame flex-suuna veergudest ridadeks */
    }
    .akadeemiatekst,
    .akadeemialogo {
        width: 100%; /* Mõlemad elemendid võtavad 100% laiusest */
        max-width: none; /* Eemaldame maksimaalse laiuse piirangu */
        text-align: center; /* Keskendame teksti ja logo */
        margin-bottom: 20px; /* Lisame marginaali teksti ja logo vahele */
    }
}


.pildisektsioon {

    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    max-width: 1200px;
}

.pildisektsioon img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}


.slaid{
    display: none
}

/* lisainfo section */
.lingidsection{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.lisainfo{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lisainfo h2{
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 1.875rem;
    color: black;
    margin-bottom: 2rem;
}


.lisainfonupud{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.lisainfo_button{
    flex-grow: 1;
    background-color: #f5f7fa; /* Green */
    border: none;
    color: black;
    padding: 17px;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-weight: 700;
    margin: 4px 2px;
    width: 270px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.lisainfo_button:hover{
    transform: scale(1.1);
}


/* Footer - Danil */
.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.footer_logoImg {
    max-width: 100%;
}

.footer_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_logo {
    flex: 1 0 200px;
    margin-bottom: 20px;
}

.footer_mainCol {
    flex: 1 0 65%;
}

.footer_grid {
    display: flex;
    flex-wrap: wrap;
}

.footer_col {
    flex: 1 0 33%;
    margin-bottom: 20px;
}

.footer_title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer_text {
    line-height: 1.6;
}


.footer_text a {
    color: #fff;
    text-decoration: none;
}
